<!-- <div class="container">
    <div class="product-container frontend-kit__example-wrapper -floating" style="margin-left: 3rem">
        <div>Name {{ product.name }}</div>
        <div style="margin-top: 1rem">Description {{ product.description }}</div>
        <div style="margin-top: 1rem">Image</div>
    </div>
</div> -->
<div class="page-wrapper">
    <div class="a-box -floating page-inner">
        <div class="left-column">
            <img data-image="black" src="../../assets/bosch_tool.jpg" alt="" />
        </div>

        <div class="right-column">
            <div class="product-description">
                <h1>{{ product.name }}</h1>
                <p>
                    {{ product.description }}
                </p>
            </div>
            <div class="product-configuration">
                <div class="product-color">
                    <span>Quantity</span>

                    <div class="color-choose">
                        <div>
                            <input data-image="red" type="radio" id="red" name="color" value="red" checked />
                            <label for="red"><span></span></label>
                        </div>
                        <div>
                            <input data-image="blue" type="radio" id="blue" name="color" value="blue" />
                            <label for="blue"><span></span></label>
                        </div>
                        <div>
                            <input data-image="black" type="radio" id="black" name="color" value="black" />
                            <label for="black"><span></span></label>
                        </div>
                    </div>
                </div>

                <div class="product-price">
                    <span>{{ product.price }} $</span>
                    <button class="form-btn" (click)="addToCart(product)">
            Add to cart
          </button>
                </div>
            </div>
        </div>
    </div>
</div>