<div class="page-wrapper">
    <div class="a-box -floating page-inner">
        <div class="left-column">
            <img data-image="black" style="margin-top: 10rem" src="{{ product.imagePath }}" alt="" />
        </div>
        <div class="right-column">
            <div class="product-description">
                <div class="title-container">{{ product.name }}</div>
                <p>
                    {{ product.description }}
                </p>
            </div>
            <div class="product-price">
                <span>{{ product.price }} $</span>
                <button class="form-btn" (click)="addToCart()">Add to cart</button>
            </div>
        </div>
    </div>
</div>