.container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5rem;
}

.page-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.page-inner {
    display: flex;
    justify-content: center;
    background-color: var(--bosch-white);
    padding: 5rem;
    width: 80rem;
    height: 50rem;
}

.product-container {
    padding: 5rem;
    width: 30rem;
    height: 15rem;
    margin-top: 5rem;
}

.input-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1rem;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

.left-column {
    width: 65%;
    position: relative;
}

.right-column {
    width: 35%;
    margin-top: 60px;
}

.left-column img {
    width: 80%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
}

.left-column img.active {
    opacity: 1;
}

.product-description {
    border-bottom: 1px solid #e1e8ee;
    margin-bottom: 20px;
}

.product-description span {
    font-size: 12px;
    color: #358ed7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484d;
    letter-spacing: -2px;
}

.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939e;
    line-height: 24px;
}

.product-price {
    display: flex;
    align-items: center;
}

.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474d;
    margin-right: 20px;
}

.form-btn {
    align-content: center !important;
    width: auto;
    justify-content: center !important;
    padding: 1rem;
    border: 0;
    background: var(--bosch-blue-30);
    color: var(--bosch-white);
    cursor: pointer;
    font-size: 1rem;
    outline: 0;
    text-transform: uppercase;
    transition: all 0.3 ease;
}

.form-btn:hover,
.form-btn:active,
.form-btn:focus {
    background: var(--bosch-blue-45);
}