<div class="body-wrapper">
    <ol class="a-tab-navigation">
        <li class="a-tab-navigation__item">
            <button type="button" class="a-tab-navigation__tab" data-frok-tab-identifier="2" tabindex="0" (click)="changePage('InSubmission')" [class.selected-tab]="selectedPage == 'InReview'">
        <span class="a-tab-navigation__tab-content">
          <span class="a-tab-navigation__label">In Submission</span>
        </span>
      </button>
        </li>
        <li class="a-tab-navigation__item" *ngIf="loggedUser.roleType != 1">
            <button type="button" class="a-tab-navigation__tab" data-frok-tab-identifier="1" tabindex="0" (click)="changePage('Overview')" [class.selected-tab]="selectedPage == 'InSubmission'">
        <span class="a-tab-navigation__tab-content">
          <span class="a-tab-navigation__label">Overview</span>
        </span>
      </button>
        </li>
    </ol>
</div>
<div class="page-wrapper">
    <div class="a-box -floating page-inner page-inner">
        <div class="products-container">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef class="header-cell">DATE</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="input-row">
                            <span>{{ element.submittedAt | date: "dd/MM/yyyy" }}</span>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="customerName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">
                        CUSTOMER
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.user.name }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef class="header-cell">TOTAL</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.totalPrice }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">
                        STATUS
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ orderStatus[element.status] }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="orderDetails">
                    <th mat-header-cell *matHeaderCellDef class="header-cell">
                        ORDER DETAILS
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <button [routerLink]="['/orders/ordersDetails/' + element.id]">
              <mat-icon svgIcon="arrow-right-blue"></mat-icon>
            </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: false"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
        <mat-paginator class="mat-paginator-container" [pageSize]="2">
        </mat-paginator>
    </div>
</div>