body {
    height: auto;
    background-color: #efeff0;
}

.body-wrapper {
    position: sticky;
    z-index: 1030;
    top: 4.5rem;
    right: 0;
    left: 0;
    height: 100%;
}

.container {
    max-width: 90rem;
    height: 100%;
    padding: 5rem;
}

.a-tab-navigation {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 3rem;
    border-bottom: 0.05rem solid var(--bosch-gray-40);
    margin-bottom: 0;
    margin-top: 0;
    background-color: var(--bosch-white) !important;
    color: var(--integrated__enabled__text__default);
}

.a-tab-navigation__tab:hover {
    filter: invert(33%) sepia(100%) saturate(925%) hue-rotate(172deg) brightness(92%) contrast(104%);
}

.selected-tab {
    border-bottom: 0.125rem solid var(--bosch-blue-50);
    color: var(--bosch-blue-50);
}

.page-wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    padding: 5rem;
    overflow-y: auto;
}

.page-inner {
    position: relative;
    justify-content: center;
    background-color: var(--bosch-white);
    height: 50rem;
}

button {
    border-style: none;
    background-color: var(--bosch-white);
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    margin-left: 1rem;
}

.left-column {
    width: 70%;
    height: 100%;
    position: relative;
}

.right-column {
    width: 30%;
    height: 50%;
    padding: 3rem 1rem 3rem;
}

.input-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 0.5rem;
    height: 5rem;
    align-items: center;
    padding: 5rem;
}

.order-resume-container {
    height: 100%;
    background-color: var(--bosch-gray-95);
}

.products-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 3rem;
    position: relative;
}

.a-value-modificator {
    position: relative;
    height: 3rem;
    width: 10rem;
    margin: 0.5rem;
    background-color: var(--bosch-white);
    border-bottom: 1px solid var(--neutral__enabled__front__default);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a-value-modificator input {
    height: 100%;
    width: calc(100% - 6rem);
    border: 0;
    line-height: 1.5rem;
    background-color: var(--bosch-white);
    font-size: 16px;
    padding: 0 1rem;
}

.img {
    width: 5rem;
    height: 5rem;
}

.order-details {
    width: 100%;
    height: 50%;
    padding-top: 5rem;
}

.button-circle-container {
    border-radius: 2rem;
    cursor: pointer;
    outline: 0;
    border-style: none;
}

.form-btn {
    align-content: center !important;
    width: 100%;
    height: 3rem;
    justify-content: center !important;
    padding: 1rem;
    border: 0;
    background: var(--bosch-blue-30);
    color: var(--bosch-white);
    cursor: pointer;
    font-size: 1rem;
    outline: 0;
    text-transform: uppercase;
    transition: all 0.3 ease;
}

.form-btn:hover,
.form-btn:active,
.form-btn:focus {
    background: var(--bosch-blue-45);
}

.submit-area {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    gap: 5rem;
}

.title {
    height: 60px;
    width: 100%;
    border-bottom: 0.05rem solid #e1e8ee;
    padding: 20px 30px;
    color: var(--bosch-gray-60);
    font-size: 18px;
    font-weight: 400;
}

table {
    width: 100%;
}

.a-value-modificator input {
    height: 100%;
    width: calc(100% - 6rem);
    border: 0;
    line-height: 1.5rem;
    background-color: var(--bosch-white);
    font-size: 16px;
    padding: 0 1rem;
    text-align: center;
}

.header-container {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    font-size: 1.25rem;
    font-weight: 300;
}

.mat-cell {
    padding: 1rem;
    text-align: center;
}

.mat-header-cell {
    padding: 0 0.625rem 0.625rem;
    margin: 0;
    font-size: 1.1rem;
    text-align: center;
}

.header-cell {
    top: 2rem !important;
    width: 20rem;
    padding: 0 0.625rem;
    background-color: var(--bosch-white);
    color: var(--bosch-gray-40);
    font-weight: bold;
}

:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
    margin-left: 1.125rem;
}

.mat-paginator-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
}

.form-btn-delete {
    align-content: center !important;
    justify-content: center !important;
    padding: 0 !important;
    border: 0;
    background: var(--bosch-white);
    color: var(--bosch-gray-30);
    cursor: pointer;
    font-size: 1rem;
    outline: 0;
    text-transform: uppercase;
    transition: all 0.3 ease;
}

.form-btn-delete:hover,
.form-btn-delete:active,
.form-btn-delete:focus {
    background: none;
}

.filter-input {
    width: 100%;
    padding: 0.4rem 0;
    border-bottom: 0.0625rem solid var(--bosch-black);
    background-color: var(--bosch-white);
    font-size: 0.9rem;
}

.filter-input:focus-within {
    border-bottom: 0.125rem solid var(--bosch-blue-60);
}

.filter-select select {
    overflow: hidden;
    width: 100%;
    padding: 0.4rem 0;
    border: 0;
    border-bottom: 0.0625rem solid var(--bosch-black);
    background-color: var(--bosch-white);
    color: var(--bosch-gray-50);
    font-size: 0.9rem;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}