body {
    height: 100rem;
    background-color: var(--bosch-gray-85);
}

.body-wrapper {
    position: sticky;
    z-index: 1030;
    top: 4.5rem;
    right: 0;
    left: 0;
    height: 100rem;
}

.dropdown-year {
    display: block;
    width: 7rem;
    margin-left: auto;
}

.idea-status-section {
    display: flex;
    min-width: 20rem;
    justify-content: space-evenly;
    padding: 0.625rem;
    border: 0.031rem solid var(--bosch-gray-85);
    margin: 0.625rem 0;
    background-color: var(--bosch-white);
}

.chart-container {
    position: relative;
    width: 60rem;
    height: 30rem;
}

@media (max-width: 80rem) {
    .chart-container {
        width: 35rem;
        height: 20rem;
    }
}

canvas {
    cursor: pointer;
    vertical-align: center;
}

.idea-cards-section {
    min-width: 30rem;
    padding: 2rem;
}

.section-card {
    min-width: 13rem;
    height: 13rem;
    padding: 0.25rem 0.25rem 0.25rem 0.625rem;
    border: 0.031rem solid #d4d7da;
    margin: 0.5rem;
    color: var(--bosch-white);
}