.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo {
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;
    margin-bottom: 1.25rem;
}

.login-page {
    width: 22.5rem;
    padding: 8% 0 0;
    margin: 9.375rem auto 0;
}

.form {
    position: fixed;
    z-index: 1;
    max-width: 22.5rem;
    padding: 2.813rem;
    margin: 0 auto 6.25rem;
    background: var(--bosch-white);
    box-shadow: 0 0 1.25rem 0 rgb(0 0 0 / 20%), 0 0.313rem 0.313rem 0 rgb(0 0 0 / 24%);
    text-align: center;
}

.form input {
    background-color: var(--bosch-white);
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: BoschSans;
}

.form button {
    width: 100%;
    padding: 1rem;
    border: 0;
    margin-top: 1.25rem;
    background: #005691;
    color: var(--bosch-white);
    cursor: pointer;
    font-size: 1rem;
    outline: 0;
    text-transform: uppercase;
    transition: all 0.3 ease;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: var(--bosch-blue-45);
}

.credentials {
    margin: 0.625rem;
}