.page-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.page-inner {
    display: flex;
    justify-content: center;
    background-color: var(--bosch-white);
    width: 80rem;
    height: 43rem;
}

.left-column {
    width: 70%;
    height: 100%;
    position: relative;
}

.right-column {
    width: 30%;
    height: 100%;
}

.input-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 0.5rem;
    height: 5rem;
    align-items: center;
    padding: 5rem;
}

.order-resume-container {
    background-color: var(--bosch-gray-95);
}

.products-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5rem;
    position: relative;
}

.img {
    width: 5rem;
    height: 5rem;
}

.title {
    height: 60px;
    width: 100%;
    border-bottom: 0.05rem solid #e1e8ee;
    padding: 20px 30px;
    color: var(--bosch-gray-60);
    font-size: 18px;
    font-weight: 400;
}

table {
    width: 100%;
}

.mat-cell {
    padding: 1rem;
    text-align: center;
}

.mat-header-cell {
    padding: 0 0.625rem 0.625rem;
    margin: 0;
    font-size: 1.1rem;
    text-align: center;
}

.header-cell {
    top: 2rem !important;
    width: 20rem;
    padding: 0 0.625rem;
    background-color: var(--bosch-white);
    color: var(--bosch-blue-30);
    font-weight: bold;
}