.o-header {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    padding: 1rem 3rem;
    padding-bottom: 0;
    background-color: var(--bosch-white);
    overflow-x: hidden;
}

.o-header::before {
    z-index: 0;
    height: 1rem;
}

.o-header>.a {
    display: flex;
}

.o-header__account-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-end;
}

.o-header__logo {
    display: flex;
    align-items: center;
    margin: auto 0;
}

.o-header__logo span:first-child {
    display: inherit;
}

.o-header__logo span:first-child::after {
    margin: 0 0.5rem;
    content: "|";
}

.o-header__nav {
    display: flex;
    margin: auto 0;
}

.o-header__link:hover {
    border-bottom: 0.125rem solid var(--bosch-blue-60);
    color: var(--minor-accent__enabled__text__default);
}

.o-header__link:last-of-type {
    border-bottom: unset;
}

.o-header__link.--active {
    border-bottom: 0.125rem solid var(--bosch-blue-40);
    color: var(--minor-accent__enabled__text__default);
}

.accordion_b_title {
    border-right: 0.063rem solid var(--bosch-gray-80);
}

.onb-header {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    border: unset;
    margin-left: 1rem;
    cursor: pointer;
    font-size: small;
}

.wrapper:hover {
    border: unset;
}

.wrapper span {
    position: absolute;
    display: none;
}

.wrapper:hover span {
    display: block;
    margin-top: 2rem;
    background-color: transparent;
    font-size: small;
    opacity: 70%;
    text-align: center;
}

.logo {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}

.icon-profile {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}