.sidebar {
    position: fixed;
    z-index: 2;
    overflow: hidden auto;
    width: 4rem;
    height: 100%;
    background-color: var(--bosch-gray-20);
    color: var(--bosch-white);
    text-align: center;
    transition: 0.3s ease-in-out;
}

.sidebar-title {
    margin: auto;
    font-size: 1.25rem;
    font-weight: 500;
}

.unselectable {
    -webkit-touch-callout: none;
    user-select: none;
}

.close-button {
    margin: auto;
    cursor: pointer;
    transform: scale(1.3);
}

.close-button:active {
    transform: scale(0.8);
}

.my-full-sidebar {
    width: 15rem;
}

.content-row {
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.menu-item-icon {
    position: absolute;
    left: 1.1rem;
    height: 1rem;
}

.menu-item {
    width: 100%;
    height: 3rem;
    cursor: pointer;
}

.menu-item-selected {
    background-color: var(--bosch-blue-60);
}

.menu-item-title {
    position: absolute;
    left: 4.5rem;
    padding-top: 1rem;
    font-size: large;
}

.menu-item:active {
    transform: scale(0.98);
}

.menu-item:hover {
    background-color: var(--bosch-gray-10);
}

.icon-home {
    position: absolute;
    left: 1.1rem;
    padding-top: 0.5rem;
}

.icon-home::before {
    position: absolute;
    display: block;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    content: url("/assets/home-light.svg");
}

.icon-products {
    position: absolute;
    left: 1.1rem;
    padding-top: 0.5rem;
}

.icon-products::before {
    position: absolute;
    display: block;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    content: url("/assets/my-product.svg");
}

.icon-add-product {
    position: absolute;
    left: 1rem;
    padding-top: 0.5rem;
}

.icon-add-product::before {
    position: absolute;
    display: block;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    content: url("/assets/add.svg");
}