<app-messageBar #messageBar [successes]="formSuccesses" [errors]="formErrors">
</app-messageBar>
<div class="container">
    <div class="main-container frontend-kit__example-wrapper -floating">
        <div class="edit-form">
            <div class="input-row" id="input-search-row" style="margin-bottom: 3rem">
                <div class="input-group" (clickOutside)="searchOnBlur()">
                    <div>
                        <div>Product</div>
                        <form class="m-search-form" autocomplete="off">
                            <div class="a-text-field a-text-field--search">
                                <input type="search" id="search" placeholder="Search" name="searchContent" [(ngModel)]="searchContent" (input)="filterProducts()" (focus)="searchOnFocus()" />
                                <button type="submit" class="a-text-field__icon-search">
                  <i class="a-icon ui-ic-search"></i>
                </button>
                            </div>
                        </form>
                    </div>
                    <div class="search-result-container" *ngIf="showProductsDropDown">
                        <div *ngFor="let product of filteredProducts">
                            <div (click)="selectProduct(product)">
                                <li class="a-menu-item" role="none">
                                    <a role="menuitem" class="a-menu-item__link">
                                        <span class="a-menu-item__label" aria-label="Menu Item">
                      {{ product.name }}</span
                    >
                    <i class="a-icon boschicon-bosch-ic-edit"></i>
                  </a>
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h4 class="edit-title">Edit Product</h4>
      <form [formGroup]="form">
        <div class="input-row">
          <div class="input-group">
            <div>
              <div>Name:</div>
              <div class="m-form-field">
                <div class="a-text-field">
                  <input formControlName="name" type="text" required />
                </div>
                <small class="p-error" *ngIf="name.invalid && name.touched"
                  >Name is mandatory!
                </small>
              </div>
            </div>
          </div>
          <div class="input-group">
            <div style="margin-right: 3rem">Price:</div>
            <div class="m-form-field">
              <div class="a-text-field">
                <input formControlName="price" type="text" placeholder="200" />
              </div>
              <small class="p-error" *ngIf="price.invalid && price.touched"
                >Price is mandatory!
              </small>
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="input-group">
            <div
              class="my-drop-down m-form-field-drop m-form-field m-form-field--dropdown"
              style="margin-top: 0"
            >
              <div>Category:</div>
              <div class="my-drop-down a-dropdown">
                <select
                  id="dropdown-3"
                  name="drop1"
                  formControlName="category"
                  [value]="category.value"
                  (change)="selectCategory($event)"
                >
                  <option
                    value="{{ category.id }}"
                    *ngFor="let category of categories"
                  >
                    {{ category.name }}
                  </option>
                </select>
                <small
                  class="p-error"
                  *ngIf="category.invalid && category.touched"
                  >Category is mandatory!
                </small>
              </div>
            </div>
          </div>
          <div class="input-group">
            <div
              class="my-drop-down m-form-field-drop m-form-field m-form-field--dropdown"
              style="margin-top: 0"
            >
              <div>SubCategory:</div>
              <div class="my-drop-down a-dropdown">
                <select
                  id="dropdown-4"
                  name="drop2"
                  formControlName="subcategory"
                  [value]="subcategory.value"
                  (change)="selectSubcategory($event)"
                >
                  <option
                    value="{{ subcategory.id }}"
                    *ngFor="let subcategory of subcategories"
                  >
                    {{ subcategory.name }}
                  </option>
                </select>
                <small
                  class="p-error"
                  *ngIf="subcategory.invalid && subcategory.touched"
                  >Subcategory is mandatory!
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="input-group">
            <div
              class="my-drop-down m-form-field-drop m-form-field m-form-field--dropdown"
              style="margin-top: 0"
            >
              <div>Warehouse:</div>
              <div class="my-drop-down a-dropdown">
                <select
                  id="dropdown-2"
                  name="drop2"
                  formControlName="warehouse"
                  [value]="warehouse.value"
                  required
                  (change)="selectWarehouse($event)"
                >
                  <option
                    value="{{ warehouse.id }}"
                    *ngFor="let warehouse of warehouses"
                  >
                    {{ warehouse.name }}
                  </option>
                </select>
                <small
                  class="p-error"
                  *ngIf="warehouse.invalid && warehouse.touched"
                  >Warehouse is mandatory!
                </small>
              </div>
            </div>
          </div>
          <div class="input-group">
            <div class="custom-input">
              <div style="margin-right: 3rem">Stock:</div>
              <div class="m-form-field">
                <div class="a-text-field">
                  <input
                    formControlName="stock"
                    type="text"
                    placeholder="20"
                    [value]="stock.value"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="input-group">
            <div style="margin-right: 3rem">Description:</div>
            <div class="m-form-field">
              <div class="a-text-area">
                <textarea
                  formControlName="description"
                  type="text"
                  placeholder="good product"
                ></textarea>
              </div>
              <small
                class="p-error"
                *ngIf="description.invalid && description.touched"
                >Description is mandatory!
              </small>
            </div>
          </div>
          <div class="input-group">
            <div style="margin-right: 3rem">EanCode:</div>
            <div class="m-form-field">
              <div class="a-text-field">
                <input
                  formControlName="eanCode"
                  type="text"
                  placeholder="9083474"
                />
              </div>
              <small class="p-error" *ngIf="eanCode.invalid && eanCode.touched"
                >EanCode is mandatory!
              </small>
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="input-group">
            <div class="image-right-column">
              <div class="image-group-box">
                <div style="margin-right: 3rem">
                  Image

                  <button
                    type="button"
                    class="upload-button"
                    [disabled]="name.invalid"
                    (click)="fileInput.click()"
                  >
                    <mat-icon svgIcon="link"></mat-icon>
                    <input
                      type="file"
                      formControlName="image"
                      #fileInput
                      accept="image/*"
                      (change)="uploadFile(fileInput.files)"
                      style="display: none"
                      multiple
                    />
                  </button>
                  <small class="p-error" *ngIf="image.invalid && image.touched"
                    >Image is mandatory!
                  </small>
                  <div [hidden]="!showImage">
                    <img src="{{ selectedProduct.imagePath }}" class="img" />
                  </div>
                </div>
                <ul *ngIf="imageName != null" class="images__list">
                  <li class="images__list-item">
                    <div class="image">
                      {{ imageName }}
                      <button (click)="removeFile(imageName)">
                        <mat-icon svgIcon="close"></mat-icon>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="submit-area">
          <button
            [hidden]="!this.form.valid"
            class="form-btn"
            (click)="submitData()"
          >
            Submit
          </button>
          <button
            type="button"
            class="delete-btn"
            data-frok-action="confirm"
            [hidden]="!this.form.valid"
            (click)="deleteProduct()"
          >
            Delete
          </button>
        </div>
      </form>
    </div>
  </div>
</div>