.container {
    max-width: 100%;
    height: 100vh;
    padding: 5rem;
    overflow-y: auto;
}

.page-inner {
    background-color: var(--bosch-white);
    max-width: 100rem;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.input-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 0.5rem;
    height: 5rem;
    align-items: center;
    padding: 5rem;
}

.products-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5rem;
    position: relative;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-centerY-centerX {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.el-wrapper {
    width: 20rem;
    padding: 2rem;
    margin: 4rem;
    background-color: var(--bosch-gray-95);
}

@media (max-width: 60rem) {
    .el-wrapper {
        width: 22rem;
    }
}

@media (max-width: 45rem) {
    .el-wrapper {
        width: 20rem;
        margin: 1rem auto;
    }
}

.el-wrapper:hover .h-bg {
    left: 0rem;
}

.el-wrapper:hover .price {
    left: 1rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: var(--bosch-gray-95);
}

.el-wrapper:hover .details {
    left: 50%;
}

.img {
    width: 100%;
    height: 18rem;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
}

.el-wrapper:hover .img {
    -o-filter: blur(0.5rem);
    -ms-filter: blur(0.5rem);
    filter: blur(0.5rem);
    filter: progid: DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
    opacity: 0.4;
}

.el-wrapper:hover .info-inner {
    bottom: 10rem;
}

.el-wrapper:hover .a-size {
    -webkit-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
    bottom: 3rem;
    opacity: 1;
}

.el-wrapper .box-down {
    width: 100%;
    height: 4rem;
    position: relative;
    overflow: hidden;
}

.el-wrapper .box-up {
    width: 100%;
    height: 20rem;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.el-wrapper .img {
    padding: 1.25rem 0;
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
}

.h-bg {
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    width: 40rem;
    height: 100%;
    background-color: var(--bosch-blue-60);
    position: absolute;
    left: -40rem;
}

.h-bg .h-bg-inner {
    width: 50%;
    height: 100%;
    background-color: var(--bosch-gray-70);
}

.info-inner {
    -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: 1.5rem;
}

.info-inner .p-name,
.info-inner .p-company {
    display: block;
}

.info-inner .p-name {
    font-family: "PT Sans", sans-serif;
    font-size: 1rem;
    color: var(--bosch-gray-50);
}

.info-inner .p-company {
    font-family: "Lato", sans-serif;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(bosch-gray-95);
}

.a-size {
    -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: -1.25rem;
    font-family: "PT Sans", sans-serif;
    color: var(bosch-gray-95);
    opacity: 0;
}

.a-size .size {
    color: var(--bosch-gray-50);
}

.cart {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

.cart .price {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: var(--bosch-gray-50);
}

.cart .details {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 110%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cart .add-to-cart .txt {
    font-size: 0.75rem;
    color: var(--bosch-white);
    letter-spacing: 0.045em;
    text-transform: uppercase;
    white-space: nowrap;
}

.container-body {
    height: auto;
    background-color: var(--bosch-gray-95) !important;
}

.section-body {
    margin-bottom: 5rem;
    background-color: var(--bosch-white);
}

.mat-header-cell {
    padding: 0 0.625rem 0.625rem;
    margin: 0;
    font-size: 1.1rem;
    text-align: center;
}

.header-cell {
    top: 2rem !important;
    width: 20rem;
    padding: 0 0.625rem;
    background-color: var(--bosch-white);
    color: var(--bosch-blue-30);
    font-weight: bold;
}

.mat-table {
    margin-top: 5rem;
}

.mat-table-sticky {
    top: 5rem !important;
}

.filter-input {
    width: 100%;
    padding: 0.4rem 0;
    border-bottom: 0.0625rem solid var(--bosch-black);
    background-color: var(--bosch-white);
    font-size: 0.9rem;
}

.filter-input:focus-within {
    border-bottom: 0.125rem solid var(--bosch-blue-60);
}

.filter-select select {
    overflow: hidden;
    width: 100%;
    padding: 0.4rem 0;
    border: 0;
    border-bottom: 0.0625rem solid var(--bosch-black);
    background-color: var(--bosch-white);
    color: var(--bosch-gray-50);
    font-size: 0.9rem;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-row {
    width: 80rem;
    margin-left: 10rem;
}

.paginator-container {
    text-align: center;
}

.ngx-pagination {
    padding-left: 0px !important;
}

.ngx-pagination .current,
.btn-info {
    background: #17a2b8 !important;
    border: transparent !important;
    border-radius: 20px !important;
}