<div class="container">
    <div class="a-box -floating page-inner">
        <div class="input-row" id="input-search-row">
            <div class="my-drop-down m-form-field-drop m-form-field m-form-field--dropdown">
                <div>Category:</div>
                <div class="my-drop-down a-dropdown">
                    <select id="dropdown-3" name="drop1" [value]="selectedCategory" (change)="selectCategory($event)">
            <option
              value="{{ category.id }}"
              *ngFor="let category of categories"
            >
              {{ category.name }}
            </option>
          </select>
                </div>
            </div>
            <div class="my-drop-down m-form-field-drop m-form-field m-form-field--dropdown">
                <div>Subcategory:</div>
                <div class="my-drop-down a-dropdown">
                    <select id="dropdown-4" name="drop2" [value]="selectedSubcategory" (change)="selectSubcategory($event)">
            <option
              value="{{ subcategory.id }}"
              *ngFor="let subcategory of subcategories"
            >
              {{ subcategory.name }}
            </option>
          </select>
                </div>
            </div>
        </div>
        <div class="products-container">
            <ul>
                <li *ngFor="
            let product of filteredProducts
              | paginate: { itemsPerPage: 6, currentPage: p }
          " class="a-box -floating el-wrapper">
                    <div class="box-up">
                        <img src="{{ product.imagePath }}" alt="Image not available" class="img" />
                        <div class="img-info">
                            <div class="info-inner">
                                <span class="p-name">{{ product.name }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="box-down">
                        <div class="h-bg">
                            <div class="h-bg-inner"></div>
                        </div>
                        <a class="cart" [routerLink]="['/products/productdetails/' + product.id]">
                            <span class="price">{{ product.price }}$</span>
                            <span class="details"> Details </span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="paginator-container">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>