.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    margin-top: 8rem;
    width: 60rem;
    height: 60vh;
}

@media (max-width: 75rem) {
    .container {
        margin-top: 8rem;
        width: 40rem;
        height: 40vh;
    }
}