.container {
    position: relative;
    max-width: 100%;
    padding: 10rem;
    background-color: var(--bosch-gray-95) !important;
}

.form-container {
    height: auto;
}

.select-category {
    background-color: var(--bosch-blue-30);
    color: var(--bosch-white);
}

button .not-selected {
    background-color: #fbfbfb;
}

.details-container {
    padding: 5rem;
}

.description-container {
    padding: 0 0.938rem;
    border: 0.063rem solid #d4d7da;
}

.info-section-body {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 0;
    background-color: #fbfbfb;
}

.idea-info {
    max-width: calc(100% - 17.5rem);
    padding-left: 0.625rem;
}

.section-body {
    width: auto;
    padding: 1rem;
    border: 0.031rem solid #d4d7da;
    background-color: #fbfbfb;
}

.section-body-history {
    border: 0.031rem solid #d4d7da;
    background-color: #fbfbfb;
}

.history-box {
    overflow: auto;
    width: 100%;
    padding: 1rem;
    border: 0.03rem solid #d4d7da;
    margin: 1rem;
    background-color: var(--bosch-white);
    scrollbar-width: thin;
}

.group-box {
    width: 45%;
    padding: 1rem;
    border: 0.03rem solid #d4d7da;
    margin: 1rem;
    background-color: var(--bosch-white) !important;
}

.group-box.timeline {
    width: 100%;
    padding: 1.25rem;
    margin: 1.25rem;
    background-color: var(--bosch-white) !important;
}

.group-box.summary {
    width: 100%;
    padding: 1.25rem;
    border: 0.031rem solid #d4d7da;
    margin: 1.25rem;
    background-color: var(--bosch-white) !important;
}

.group-box.summary input {
    background-color: var(--bosch-white);
}

.group-box.summary label {
    margin-bottom: -3.125rem;
}

.group-box.date {
    display: flex;
    width: 100%;
    padding: 1.25rem;
    margin: 1.25rem;
    background-color: var(--bosch-white) !important;
}

.group-box.summary.date {
    width: 30%;
    padding: 1.25rem;
    margin: 1.25rem;
    background-color: var(--bosch-white) !important;
}

.group-box-horizontal {
    width: 45%;
    padding: 1rem;
    border: 0.03rem solid #d4d7da;
    margin: 1rem;
    background-color: var(--bosch-white) !important;
}

.comment-group-box {
    width: 100%;
    padding: 1.25rem 1.25rem 0;
    margin: 1.25rem;
}

.horizontal-text-box {
    display: inline-block;
    padding-left: 1rem;
    margin-top: 1rem;
}

label .special__label {
    color: var(--bosch-blue-35);
}

.department-info {
    display: block;
    width: 63%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

.categories-box .row {
    justify-content: center;
}

.categories-box button {
    width: 9.7rem;
    height: 3rem;
    padding-left: 0.5rem;
    margin-top: 1.25rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}

button .selected {
    background-color: var(--bosch-blue-30);
    color: var(--bosch-white);
}

.idea-description-box {
    max-height: 20rem;
    padding: 1rem;
    border: 0.031rem solid #d4d7da;
    margin: 1rem;
    background-color: var(--bosch-white);
    overflow-y: auto;
}

.idea-description-label {
    padding-bottom: 1rem;
}

.idea-description-group-box {
    width: 100%;
    padding: 1rem;
    border: 0.031rem solid #d4d7da;
    background-color: var(--bosch-white);
}

.idea-description-right-column {
    margin: 1rem;
    background-color: #fbfbfb;
}

.mat-icon {
    width: 3.125rem;
    transform: scale(1.3);
    vertical-align: text-top;
}

.upload-button {
    width: auto;
    padding: 0.625rem 0;
    border: 0;
    margin: 0 0 0 2.25rem;
    background: var(--bosch-white);
    color: var(--bosch-white);
    cursor: pointer;
    outline: 0;
}

.edit-button {
    width: auto;
    padding: 0.625rem 0;
    border: 0;
    background: none;
    color: var(--bosch-white);
    cursor: pointer;
    outline: 0;
}

.edit-button .mat-icon {
    width: 3.125rem;
    transform: scale(1.6) !important;
    vertical-align: initial;
}

.review-button {
    width: auto;
    padding: 0.625rem 0.313rem;
    border: 0;
    background: var(--bosch-blue-30);
    color: var(--bosch-white);
    cursor: pointer;
    float: right;
    font-size: medium;
    outline: 0;
}

.review-title {
    color: var(--bosch-blue-30);
    font-size: 1.2rem;
    font-weight: bold;
}

.review-info {
    display: flex;
    justify-content: flex-end;
}

.review-comment {
    display: flex;
}

.review-comment-type {
    margin-right: 2rem;
    color: var(--bosch-blue-20);
    font-size: 1rem;
    font-weight: bold;
}

.section-header {
    width: 100%;
    padding: 1rem;
    margin: 0;
    background-color: var(--bosch-gray-40);
    color: var(--bosch-white);
    font-weight: 600;
}

.review-button .mat-icon {
    width: 3.125rem;
    transform: scale(1.3) !important;
    vertical-align: initial;
}

.attachments-header {
    margin-bottom: 1rem;
}

.attachment__list-item {
    margin: 0 0.625rem;
    list-style: none;
}

.attachment__list-item p {
    font-size: 0.75rem;
    text-align: right;
}

.attachment {
    max-width: auto;
    height: auto;
    padding: 0.625rem;
    margin: 0 0 0.188rem;
    background-color: var(--bosch-blue-30);
    color: var(--bosch-white);
    font-size: 0.938rem;
}

.attachment button {
    border: 0;
    background-color: var(--bosch-blue-30);
    color: var(--bosch-white);
    float: right;
}

.attachment .mat-icon {
    width: 3.125rem;
    transform: scale(1);
    vertical-align: center;
}

table {
    width: 100%;
    background-color: #a8afb5;
    box-shadow: none;
}

.form-btn {
    align-content: center !important;
    justify-content: center !important;
    padding: 0.938rem;
    border: 0;
    background: var(--bosch-blue-35);
    color: var(--bosch-white);
    cursor: pointer;
    font-size: 1rem;
    outline: 0;
    text-transform: uppercase;
    transition: all 0.3 ease;
}

.form-btn[disabled] {
    background: var(--bosch-gray-65);
    pointer-events: none;
}

.form-btn:hover,
.form-btn:active,
.form-btn:focus {
    background: var(--bosch-blue-45);
}

.form-outlined-btn {
    align-content: center !important;
    justify-content: center !important;
    padding: 0.938rem;
    border: solid 0.125rem var(--bosch-blue-35);
    background-color: var(--bosch-gray-95);
    cursor: pointer;
    font-size: 1rem;
    outline: 0;
    text-transform: uppercase;
    transition: all 0.3 ease;
}

.form-outlined-btn:hover,
.form-outlined-btn:active,
.form-outlined-btn:focus {
    background: var(--bosch-blue-90);
}

.submit-area {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.input-div {
    display: grid;
    grid-template-columns: minmax(4.375rem, 95%) 1fr;
}

.ui-ic-plus {
    padding-top: 0.313rem;
    padding-left: 0.625rem;
}

.ui-ic-plus:hover {
    color: var(--bosch-blue-35);
}

.ui-ic-minus:hover {
    color: var(--bosch-blue-35);
}

.list-emails {
    padding: 0;
    margin-top: 1.25rem;
    list-style-type: none;
}

.list-emails li {
    display: flex;
    width: 48%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.625rem;
    margin: 0.313rem;
    background: #fbfbfb;
    float: left;
    line-height: 2.5rem;
}

.list-emails li::before {
    background: none !important;
}

@media (max-width: 75rem) {
    .list-emails li {
        width: 98%;
        float: none;
    }
}

.m-step-indicator__steps {
    display: flex;
    overflow: auto;
    flex-direction: row;
    padding: 0;
    margin: 0;
    column-gap: 1rem;
    scrollbar-width: thin;
}

.m-step-indicator__step {
    display: grid;
    flex-basis: 0;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    grid-template-rows: max-content auto;
    list-style: none;
    row-gap: 0.25rem;
}

.m-step-indicator__step::before {
    content: unset;
}

.m-step-indicator__step:not(:first-child)::before {
    top: 1rem;
    left: calc(-50% - 1rem);
    width: calc(100% + 1rem);
    background-color: var(--bosch-gray-40);
    content: "";
}

.m-step-indicator.-small .m-step-indicator__step::before {
    top: 0.5rem;
}

.m-step-indicator__step.-active::before {
    background-color: var(--bosch-gray-40);
}

.m-step-indicator__node {
    z-index: 1;
    display: grid;
    width: 2rem;
    height: 2rem;
    align-self: start;
    background-color: var(--bosch-gray-80);
    border-radius: 50%;
    color: var(--bosch-gray-95);
    justify-self: center;
    place-items: center;
}

.m-step-indicator.-small .m-step-indicator__node {
    width: 1rem;
    height: 1rem;
}

.m-step-indicator__step.-active .m-step-indicator__node {
    background-color: var(--bosch-blue-45);
    color: var(--bosch-white);
}

.m-step-indicator__node .a-icon {
    color: var(--bosch-white);
}

.m-step-indicator__label {
    align-self: start;
    color: var(--bosch-gray-70);
    hyphens: auto;
    justify-self: center;
    text-align: center;
    word-break: normal;
}

@media screen and (max-width: 85rem) {
    .m-step-indicator__label {
        font-size: xx-small;
    }
}

.m-step-indicator__step.-active .m-step-indicator__label {
    color: var(--bosch-black);
}

.groups {
    display: inline;
}

.m-dialog {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    max-width: 1000rem;
    height: 100%;
    justify-content: center;
    background-color: rgb(192 192 194 / 40%);
}

.m-dialog .a-box {
    position: fixed;
    top: 50%;
    left: 52.5%;
    display: block;
    min-width: 75%;
    transform: translate(-50%, -50%);
}

.m-dialog__content {
    width: 100%;
}

.m-dialog__actions .a-button {
    margin-right: 0;
}

.no-content-message {
    margin-left: 1rem;
}

.li::before {
    background-color: none;
}